.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top:35%;
    left: 45%;
    text-align: center;
}
img{
    width: 120px;
}
input{
    width: 40px;
}

